Studi Kasus
Tuan Fin memiliki sebuah pabrik yang memproduksi alat-alat tulis. Salah satu produk unggulan pada perusahaan Tuan Fin adalah penggaris plastic 30cm. Plastik merupakan material yang rentan terhadap suhu tinggi, sehingga dapat memuai pada suhu tertentu. Maka dari itu, untuk menjaga keakuratan produk unggulan tersebut, Tuan Fin menugaskan Head of Quality Assurance untuk melakukan Quality Checking berkala.
Pada saat kuartal kedua, didapatkan data panjang 100 sampel penggaris. Tugas kalian adalah bantu Tuan Fin untuk menentukan apakah penggaris yang dihasilkan pada kuartal kedua masih dapat dikategorikan lulus Quality Checking (panjang penggaris masih di sekitar 30cm).

1.	Tentukan H0 & H1 untuk studi kasus di atas
2.	Tarik kesimpulan terhadap studi kasus di atas dengan menggunakan uji hipotesis. Gunakan nilai alpha 0.05. (Gunakan library scipy)

In [1]:
# Import library
import pandas as pd
from scipy import stats
import numpy as np

In [2]:
# Import CSV dataset
df = pd.read_csv('/Users/darhensu/Downloads/ruler_sample_size.csv')

In [3]:
df.head()

   Unnamed: 0          0
0           0  29.996612
1           1  29.993937
2           2  30.008391
3           3  29.990813
4           4  29.994487

In [4]:
# Get the number of columns and rows
num_columns = df.shape[1]
num_rows = df.shape[0]

# Print the results
print(f"Number of columns: {num_columns}")
print(f"Number of rows: {num_rows}")

Number of columns: 2
Number of rows: 100

In [5]:
df.columns

Index(['Unnamed: 0', '0'], dtype='object')

In [6]:
new_column_names = {'Unnamed: 0': 'Number', '0': 'Panjang_Penggaris'}
df = df.rename(columns=new_column_names)

In [7]:
# Write the updated DataFrame back to a CSV file
df.to_csv('updated_file.csv', index=False)

In [8]:
df.head()

   Number  Panjang_Penggaris
0       0          29.996612
1       1          29.993937
2       2          30.008391
3       3          29.990813
4       4          29.994487

In [9]:
# Take the column with nominal as a sample data
sample_data = df['Panjang_Penggaris']

H0 (Hipotesis Nol): Rata-rata panjang penggaris pada kuartal kedua sama dengan 30cm.
H1 (Hipotesis Alternatif): Rata-rata panjang penggaris pada kuartal kedua tidak sama dengan 30cm.

In [10]:
# Asumption value on H0
pop_mean = 30.0

In [11]:
# Mean
sample_mean = sample_data.mean()
sample_mean

29.999149462401828

In [12]:
# Standard dev
sample_std = sample_data.std(ddof=1)
sample_std

0.011084646019620103

In [13]:
# Total sample
n = len(sample_data)
n

100

In [14]:
# t-score
t_score = (sample_mean - pop_mean) / (sample_std / np.sqrt(n))
t_score

-0.7673114654870562

In [15]:
# p-value
p_value = 2 * (1 - stats.t.cdf(abs(t_score), df=n-1))
p_value

0.44472247761099926

In [16]:
# Tingkat signifikansi (alpha)
alpha = 0.05

In [17]:
# Uji hypothesis results
print(f"Sample Mean: {sample_mean:.4f}")
print(f"t-Score: {t_score:.4f}")
print(f"p-Value: {p_value:.4f}")

Sample Mean: 29.9991
t-Score: -0.7673
p-Value: 0.4447

In [18]:
if p_value < alpha:
    print("Result: Tolak H0, penggaris tidak lulus Quality Checking")
else:
    print("Result: Gagal tolak H0, penggaris lulus Quality Checking")

Result: Gagal tolak H0, penggaris lulus Quality Checking